header .nav-wrapper {
  height: 64px;
  background-color: black;
}
header .btn {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}