* {
  margin:0;
  padding:0; 
}
  body {
    box-sizing: border-box;
    width: 100%;
  }
  header .nav-wrapper {
  height: 64px;
  background-color: black;
  display: flex;
  align-items: center;
  max-width: 100%;
}


.logo {
  font-size: 25px;
  margin-right: 10px;
  padding: 0px;
}
.container {
  box-sizing: border-box;
  display: flex;
  padding: 0px;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
header .btn {
  text-transform: none;
  background-color:black;
  height: 35px;
  border-radius: 80px;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: px;
}
#aanmelden {
  color:black;
  background-color: white;
}
#aanmelden:hover {
  background-color:lightgray
}
header .btn:hover {
  background-color:gray;
}
.left-menu {
  color: white;
  display: flex;
  }
.right-menu {
  color: white;
  display: flex;
  margin-left: auto;
}
.dropdown-content li>a, .dropdown-content li>span {
  font-size: 16px;
  color: gray;
  display:block;
  position: absolute;
  padding: 14px 16px;
  margin-top:64px;
  width: 400px;
}
  nav ul a.btn {
    margin-right: 0;
      text-decoration: none;
      color: #fff;
      background-color:black;
      text-align: center;
      letter-spacing: .5px;
  }
 .dropdown-content ul li {
   width: 400px;;
 }
  ul#dropdown1.dropdown-content { 

   /*display: block;
    position: absolute;
    width: 200px;
    left: 84.1875px;
    top: 64px;
    height: 400px;
    transform-origin: 0px 0px;
    opacity: 1;
    transform: scaleX(1) scaleY(1); }*/}

  .background-pic1 {
    position: absolute;
    background-image: url(image-1.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
    padding: 64px;
  } 
  .nav-ex{
    display: flex;
    text-align: center;
    margin: auto;
    background-color: white;
    width: 87%;
    }
    .nav-extended {
      background: white;
    }
  
  .nav-extended ul {
    display: flex;
    list-style:none;
    text-align: center;
    justify-content: space-around;
  }
  
  .nav-extended  ul li {
    align-items: center;
    
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;

  }
  .nav-extended ul li a {
    color:black;
    text-align: center;
  }
 /* .nav-extended  ul li a:hover {
    color:gray; 
  }*/
  /*.sub-menu-beloning-ontvangen {
    display:none;
  }
  .nav-extended ul li :hover.sub-menu-beloning-ontvangen {
    display: block;
    position:absolute;
    background-color: green;
    margin-top: 150px;
    margin-left: 50px;
  }
  .nav-extended :hover .sub-menu-beloning-ontvangen ul {
    display: block;
  }
  ul {
    color:red;
  }
  
  /*.tabs.tabs-transparent .tab a, .tabs.tabs-transparent .tabs.tabs-transparent .tab.disabled a:hover {
    color: black;
    background-color:green;
    display: flex;
    text-align: stretch;
    text-align: center;
    
  } 
.nav-content ul {
  display: flex;
  flex-basis: auto;
  justify-content: space-evenly;
  height: 100%;
}
nav.nav-extended {
  background-color: white;  
  width: 80%;
  margin: auto;
}
.tabs.tabs-transparent ul {
  height: 120px;
}
.tab li {display: flex;
  flex-basis: auto;
  text-align: center;
}
.tabs .tab {
  text-transform: none ;
  height: 100%;
  color: black;
  background-color:green;
}*/

#window1 {
  width: 500px;
  background-color: white ;
  margin-left: 6.5%;
  padding: 40px;}
#window1 h1 (
  font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 52px;
  font-weight: 600px;
}
#window1 p {
  font-size: 16px;
  line-height: 24px;
}
nav #sliding-menu ul
{
  position: absolute;
  height: 4px;
  background: #000;
  bottom: -8px;
  transition: 0.5;
  border-radius: 4px;
  left: 0;
}