* {
  margin:0;
  padding:0; 
}
  body {
    box-sizing: border-box;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif
  }
  header .nav-wrapper {
  height: 64px;
  background-color: black;
  display: flex;
  align-items: center;
  max-width: 100%;
}


.logo {
  font-size: 25px;
  margin-right: 10px;
  padding: 0px;
}
.container {
  box-sizing: border-box;
  display: flex;
  padding: 0px;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
header .btn {
  text-transform: none;
  background-color:black;
  height: 35px;
  border-radius: 80px;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: px;
}
#aanmelden {
  color:black;
  background-color: white;
}
#aanmelden:hover {
  background-color:lightgray
}
header .btn:hover {
  background-color:gray;
}
.left-menu {
  color: white;
  display: flex;
  }
.right-menu {
  color: white;
  display: flex;
  margin-left: auto;
}
.dropdown-content li>a, .dropdown-content li>span {
  font-size: 16px;
  color: gray;
  display:block;
  position: absolute;
  padding: 14px 16px;
  margin-top:64px;
  width: 400px;
}
  nav ul a.btn {
    margin-right: 0;
      text-decoration: none;
      color: #fff;
      background-color:black;
      text-align: center;
      letter-spacing: .5px;
  }
 .dropdown-content ul li {
   width: 400px;;
 }
 .dropdown-content {
  width: 200px !important;
  top: 64px !important;
}

  .background-pic1 {
    position: relative;
    background-image: url(Product-Masthead-Desktop_2.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
    padding: 64px;
  } 
  .nav-ex{
    display: flex;
    text-align: center;
    margin: auto;
    background-color: white;
    width: 90%;
    position: relative;
    }
    .nav-extended {
      background: white;
      box-shadow: none;
      border-bottom: 1px solid lightgrey
    }

  
  .nav-extended ul {
    display: flex;
    list-style:none;
    text-align: center;
    justify-content: space-around;
  }
  
  .nav-extended  ul li {
    
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;

  }
  .nav-extended ul li a {
    color:black;
    text-align: center;
  }

 .nav-extended  ul li a:hover {
    color:gray; 
  }
  .sub-menu-beloning-ontvangen {
    display:none;
  }
  .nav-extended ul li :hover.sub-menu-beloning-ontvangen {
    display: block;
    position:absolute;
    background-color: green;
    margin-top: 150px;
    margin-left: 50px;
  }
  .nav-extended :hover .sub-menu-beloning-ontvangen ul {
    display: block;
  }
  ul {
    color:red;
  }
  
  /*.tabs.tabs-transparent .tab a, .tabs.tabs-transparent .tabs.tabs-transparent .tab.disabled a:hover {
    color: black;
    background-color:green;
    display: flex;
    text-align: stretch;
    text-align: center;*/
    
  } 
.nav-content ul {
  display: flex;
  flex-basis: auto;
  justify-content: space-evenly;
  height: 100%;
}
#window1 {
  width: 550px;
  background-color: white ;
  margin-left: 5%;
  padding: 40px;
}
#window1 h1 {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 52px;
  font-weight: 600px;
}
#window1 p {
  font-size: 20px;
  line-height: 24px;

}

nav #slidingmenu 
{
  height: 4px;
  background: #000;
  bottom: -8px;
  transition: 0.5;
  border-radius: 4px;
  left: 0;
  width:0;
}

#window1 .animated-underline {
 
 
}
.animated-underline{
  position: relative;
  border-bottom:  2px solid lightgrey;
}

.animated-underline:after{
  content: '';
  position: absolute;
  width: 0; height: 2px;
  display: block;
  
  right: 0;
  background:black;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
.animated-underline:hover:after{
  width: 100%;
  left: 0;
  background: black;
}
.with-bike-uber-pic {
  position: relative;
  width: 100%;
  background-size: cover;
  box-sizing: border-box;
  font-family: sans-serif;
  background-image: url(modalities_banner_home.jpg);
  height: 600px;
}
  
.we-brengen {
  padding-top: 8%;
  width: 550px;
  padding-left: 10%;

}
h2 {margin-top: 0px;
  color: black;
  line-height: 44px;
  font-weight: 500;
  font-size: 36px;
}
.uber-for-business {
  position: relative;
  padding-top:8%;
  width:100%;
  padding-left: 10%;
  padding-right: 10%;

}
.cards {
  box-shadow: none;
  position: relative;
  margin: 0;
  display: flex;
  width: 100%;
  flex-basis: auto;
  justify-content: center;
}
.row .col.m7 {
  width: 100%;
  
}
.row {
}
